@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
  --primary: 0 0% 100%;
  --primary-foreground: 0 0% 0%;
  --secondary: 0 0% 20%;
  --secondary-foreground: 0 0% 100%;
}

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
} 

@layer utilities {
  .animate-scroll {
    animation: scroll 20s linear infinite;
  }

  .animate-scroll:hover {
    animation-play-state: paused;
  }
}